h1{
    color:#4cad8d
}
h2:last-of-type{
    margin-top: 50px;
}
body{
    display:flex;
}
#nav a {
    width: 100%;
    background-color : #4cad8d ;
    display: block;
    margin-top: 5px;
    padding: 8px 0;
}
#nav{ 
    min-width:200px;
    
    text-align: center;
    height: 100px;
    margin-right:15px;
}
table, td{
    border:1px solid black;
    border-collapse: collapse;
}
td{
    text-align: center;
    width:250px;
    

}
tr:not(tr.center) td{
    text-align: left;
}

.green{
    background-color:#73c573
}
.orange{
    background-color: #d7964c;
}
.participant{
    background-color: rgb(112, 163, 234);
}
#clickPath{
    font-weight: bold;
    color: rgb(14, 156, 80);
}
#observations{
    font-weight: bold;
    color: rgb(154, 7, 10);
}
#quotes{
    font-weight: bold;
    color: rgb(241, 120, 15);
}
#taskC{
    font-weight: bold;
    color: rgb(7, 72, 162);
}
#nums{
    text-align: center;
}
